.row {
  margin-left: 5px;
  margin-right: 5px;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-10 {
  width: 83.3%;
}

.col-xs-8 {
  width: 66.6%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-4 {
  width: 33.3%;
}

.col-xs-2 {
  width: 16.7%;
}
